.othercontent {
  /* border: 1px rgb(191, 193, 195) solid;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px; */
  background-color: darkseagreen;
  text-align: left;
  /* width: 90%; */
  /* float: left; */
  /* display: inline-block; */
  margin-right: 5px;
}

.mycontent {
  background-color: antiquewhite;
  text-align: right;
  margin-left: 5px;
}

.othermessage {
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  text-align: left;
  float: left;
  top: 50%;
}

.time {
  text-align: left;
  /* width: 90%; */
  /* float: left; */
  margin: 0px;
  /* display: inline-block; */
}
.mytime {
  text-align: right;
  margin: 0px;
}

.message {
  /* border: 1px rgb(191, 193, 195) solid; */
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  /* background-color: blanchedalmond; */
  text-align: right;
  width: 50%;
  float: right;
  top: 50%;
}

.scroll {
  padding: 5% 0;
  flex: auto;
}

.contain {
  padding: 5% 0;
  flex: auto;
}

.inputmain {
  width: 100%;
  height: 8%; /* footer의 높이 */
  bottom: 0;
  left: 0;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
}

.inputform {
  width: 80%;
  height: 90%;
}

.inputbutton {
  width: 20%;
  height: 90%;
}

.logoutBtn {
  text-align: right;
}

.updatename {
  margin-top: 20px;
  padding: 20px;
  background-color: #61dafb;
  text-align: right;
}

.chatroomname {
  text-align: center;
  background-color: aquamarine;
}

.time {
  background-color: white;
  margin-right: 30%;
}
