.othercontent {
  /* border: 1px rgb(191, 193, 195) solid;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px; */
  background-color: darkseagreen;
  /* text-align: left; */
  /* width: 90%; */
  /* float: left; */
  /* display: inline-block; */
  margin-right: 5px;
  width: 100%;
  height: 2px;
  border-radius: 7px;
  left: 0;
  right: 0;
  bottom: -16px;
}

.mycontent {
  background-color: antiquewhite;
  text-align: right;

  margin-left: 5px;
  width: 100%;
  /* height: 200px; */
  border-radius: 7px;
  left: 0;
  right: 0;
  bottom: -16px;
}

.othermessage {
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  text-align: left;
  float: left;
  top: 50%;
}

.time {
  text-align: left;
  /* width: 90%; */
  /* float: left; */
  margin: 0px;
  /* display: inline-block; */
}
.mytime {
  text-align: right;
  margin: 0px;
  font-size: 12px;
}

.message {
  /* border: 1px rgb(191, 193, 195) solid; */
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  /* background-color: blanchedalmond; */
  text-align: right;
  width: 50%;
  float: right;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.scroll {
  padding: 5% 0;
  flex: auto;
}

.contain {
  padding: 5% 0;
  flex: auto;
}

.inputmain {
  width: 100%;
  height: 8%; /* footer의 높이 */
  bottom: 0;
  left: 0;
  /* background-color: #e2e2e2; */
  display: flex;
  align-items: center;
}

.inputform {
  /* width: 80%;
  height: 90%; */
  float: left;
  height: 40px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  margin: 0 0.5rem 0 0;
  width: calc(100% - 52px);
  background-color: #dedfed;
  box-shadow: inset 0 0 0 2px #dedfed;
  font-size: 14px;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
  box-sizing: border-box;
}
.inputform::placeholder {
  color: #b1b1b1;
  opacity: 1;
}
.inputform:focus,
.inputform:active {
  box-shadow: inset 0 0 0 2px #7690d6;
}
.inputform:focus {
  outline: none;
}

.inputbutton {
  float: right;
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;

  box-shadow: 0px 14px 10px -8px rgba(0, 0, 0, 0.2);
  transition: 0.15s all ease-in-out;
  box-sizing: border-box;
}
.inputbutton:hover {
  background-color: #3c559c;
}

.logoutBtn {
  text-align: right;
}

.updatename {
  margin-top: 20px;
  padding: 20px;
  background-color: #61dafb;
  text-align: right;
}

.chatroomname {
  text-align: center;
  background-color: aquamarine;
}

.time {
  background-color: white;
  margin-right: 30%;
}

.chatconvimeline {
  display: flex;
  height: 400px;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.scrollbar {
  height: 500px;
  max-width: 400px;
  overflow-x: hidden;
}

.chatheadder {
  display: flex;
  justify-content: space-between;
}

.side {
  display: flex;
}
