.sasinfont {
  font-size: 3rem;
}

.maintitle {
  margin-top: 2%;
}

.mainfont {
  font-size: 2rem;
  margin-right: 2.2vw;
}

.centerfont {
  align-content: center;
  font-size: 2rem;
}

.divform {
  display: flex;
  margin-top: 3vh;
}

.gianfont {
  font-size: 2rem;
}

.search {
  font-size: 2rem;
  margin-left: 16vw;
}

.input {
  font-size: 16px;
  width: 100%;
  height: 50px;
  text-align: center;
}

.input:focus {
  outline: 1px solid #00aaff;
}

/* 아이콘 */
.icon {
  margin-top: 5px;
}
