.constainer {
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: flex-start; */
  text-align: center;
  list-style: none;

  background: rgb(221, 220, 220);
  color: rgb(0, 0, 0);
  /* height: 86.3vh; */
  width: 50px;
}

.iconcon {
  display: flex;
  justify-content: flex-end;
}

.listyle {
  margin-top: 50%;
  margin-bottom: 50%;
  color: black;
}

.listyle:hover {
  color: white;
}

